<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Profilee{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% block nav %}
    
    {% endblock %}

    {% block links %}{% endblock %}
  

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        .navbar{
          background:#0033CC;
          box-shadow: 0px 4px 7px  #000066, 0px 1px 20px 1px #fff;
        width:100%;
        }
        .navi{
           color: #fff;
           font-weight:400;
           display:inline-flex;
         }
         .navi:hover{
           color:rgb(236, 230, 225);
           transition-duration: 0.25s;
         }
         .togller{
           color: #fff;
         }

      </style>

    <!-- <nav class="navbar navbar-expand-lg " >
        <a class="navbar-brand navi active"  href="#">MartianN</a>
        <button class="navbar-toggler togller" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon  togller"></span>
        </button>
        <div class="collapse navbar-collapse navbar-right" id="navbarNavAltMarkup" >
          <div class="navbar-nav navbar-right">
            <a class="nav-item navi nav-link active" href="/Myprofile"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">home</i>Home <span class="sr-only">(current)</span></a>
           
          </div>
        </div>
      </nav> -->
      <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand navi" href="#">MartianN</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <i class="navbar-toggler-icon material-icons" style="color:#fff;:3px;margin-bottom:0px;">dehaze</i>
            
          </button>
    
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
        
                <li class="nav-item">
                    <a class="nav-link navi"  href="/"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">home</i>Home</a>
              </li>
            </ul>
    
             <ul class="nav navbar-nav navbar-right">
               {% if request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link navi" href="/Myprofile"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">person</i> {{request.user}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navi" href="/logout"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">logout</i></span> logout</a>
                  </li>
                 {% else %}
                 <li class="nav-item">
                    <a class="nav-link navi" href="/login"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">person</i> login</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link navi" href="/register"><i class="material-icons" style="margin-right:3px;margin-bottom:0px;">person_add</i></span> Sign up</a>
                    </li>
                 {% endif%}
            </ul>
          </div>
        </nav>
     
 
  </head>
  <body>

    {% block content %}
    {% endblock %}
    {% block ajaxcall %}
    {% endblock%}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  {% block javascript %}{% endblock %} 

 
  </body>
</html>